*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(237,242,248);
}
.imageo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.504);
}
.d-top{
    display: flex;
}
.daniel{
    max-width: 450px;
    min-height: 236px;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;
    grid-column: 1/3;
    grid-row: 1/2;
    box-shadow: 6px 5px 20px rgb(223,228,236);
    
}
.Jonathan-Walters{
    max-width: 214px;
    min-height: 236px;
    background-color:hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;
    grid-column: 3/4;
    grid-row: 1/2;
    box-shadow: 6px 5px 20px rgb(223,228,236);
    
}

.Patrick-Abrams{
    max-width: 450px;
    min-height: 236px;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;   
    grid-column: 2/4;
    grid-row: 2/3;
    box-shadow: 6px 5px 20px rgb(223,228,236);
}
.name{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.651);
    margin-top: 7px;
     
}
.verified{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.286);
}
.name-sec{
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    line-height: 0px;
}
/* .img-pattern{
    width: 86px;
    height: 86px;
    margin-right: 64px;
} */
h2{
    color: white;
}
.second-para{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.286);

}
.Jeanette-Harmon{
    max-width: 214px;
    min-height: 236px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;   
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 6px 5px 20px rgb(223,228,236);
}
.Kira-Whittle{
    max-width: 214px;
    min-height: 478px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;   
    grid-column: 4/5;
    grid-row: 1/3;
    box-shadow: 6px 5px 20px rgb(223,228,236);
}
.name-w{
    font-weight: 600;
    color: hsla(217, 30%, 14%, 0.876);
    margin-top: 7px;
     
}
.verified-w{
    font-weight: 500;
    color:rgba(80, 88, 103, 0.482);
}
.h2w{
    color:hsla(217, 30%, 14%, 0.869);
}
.second-para-w{
    font-weight: 500;
    color: rgba(80, 88, 103, 0.482);

}

.main-container{
    display: grid;
    min-height: 500px;
    max-width: 930px;

    grid-template-columns: repeat(4,215px);
    grid-template-rows: repeat(2,246px);
    gap: 20px;
    margin-inline: auto;
   margin-block: auto;
   margin-top: 2.5%;
}


@media(max-width:500px){
      .main-container{
        display: block;
      }

      .daniel, .Jonathan-Walters ,.Patrick-Abrams,.Jeanette-Harmon,.Kira-Whittle{
        max-width: 80%;
        margin-inline: auto; 
        margin-top: 20px;   
    }
    
}